In [3]:
import json
import folium
from pandas.io.json import json_normalize
from bokeh.io import show
from bokeh.models import (CDSView, ColorBar, ColumnDataSource,
                          CustomJS, CustomJSFilter, 
                          GeoJSONDataSource, HoverTool,
                          LinearColorMapper, Slider)
from bokeh.layouts import column, row, widgetbox
from bokeh.palettes import brewer
from bokeh.plotting import figure
import plotly
import plotly.express as px
import plotly.io as pio
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
import plotly.graph_objects as go
from plotly.offline import iplot, init_notebook_mode
import plotly.graph_objs as go

import pandas as pd
import numpy as np
import ipywidgets as widgets
pio.renderers.default = "notebook"
import chart_studio.tools as tls
import chart_studio.plotly as py
import chart_studio
import csv
import pysal as ps
import numpy as np
import pandas as pd
import geopandas as gpd
import seaborn as sns
import matplotlib.cm as cm
from matplotlib import pyplot as plt

In [4]:
df = pd.read_csv(r'C:\Users\Wan Xin\Documents\NUS\Information Visualization\Assignments\OTOT\Working\hospital-admission-rate-by-age-and-sex.csv')

In [8]:
df

     year      facility_type_a     sex              age   rate
0    2009                Acute    Male       0-14 Years  100.1
1    2009                Acute    Male      15-64 years   62.7
2    2009                Acute    Male  65 years & over  323.0
3    2009                Acute  Female       0-14 Years   84.9
4    2009                Acute  Female      15-64 years   73.5
..    ...                  ...     ...              ...    ...
175  2018  Community Hospitals    Male      15-64 years    1.3
176  2018  Community Hospitals    Male  65 years & over   23.7
177  2018  Community Hospitals  Female       0-14 Years    0.0
178  2018  Community Hospitals  Female      15-64 years    1.0
179  2018  Community Hospitals  Female  65 years & over   26.3

[180 rows x 5 columns]

In [6]:
df.rate.dtype

dtype('float64')

In [9]:
df = df[(df != 0).all(1)]

In [13]:
df18 = df.loc[df['year']==2018]
df18.head()

     year facility_type_a     sex              age   rate
162  2018           Acute    Male       0-14 Years  145.3
163  2018           Acute    Male      15-64 years   84.1
164  2018           Acute    Male  65 years & over  368.0
165  2018           Acute  Female       0-14 Years  127.0
166  2018           Acute  Female      15-64 years   92.1

In [16]:
df18['age'] = df18['age'].astype('category')
df18['cat_codes'] = df18['age'].cat.codes
df18.head()

C:\Users\Wan Xin\AppData\Local\ESRI\conda\envs\ge5219\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Wan Xin\AppData\Local\ESRI\conda\envs\ge5219\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

     year facility_type_a     sex              age   rate  cat_codes
162  2018           Acute    Male       0-14 Years  145.3          0
163  2018           Acute    Male      15-64 years   84.1          1
164  2018           Acute    Male  65 years & over  368.0          2
165  2018           Acute  Female       0-14 Years  127.0          0
166  2018           Acute  Female      15-64 years   92.1          1

In [23]:
# Create dimensions
type_dim = go.parcats.Dimension(
    values=df18.facility_type_a,
    categoryorder='category ascending',
    label="Facility Type"
)

sex_dim = go.parcats.Dimension(
    values=df18.sex,
    label="Sex"
)

age_dim = go.parcats.Dimension(
  values=df18.age,
  #counts=df_melt.value,
  label="Age",
  #categoryarray=['Shopping','Accommodation','FnB','Other'],
  #ticktext=['perished', 'survived'],
)

# Create parcats trace
#'Shopping','Accommodation','FnB','Other'
color = df18.cat_codes;
#colorscale = [[0, 'rgb(136, 204, 238)'], [1, 'rgb(204, 102, 119)'],[2, 'rgb(221, 204, 119)'],[3, 'rgb(68, 170, 153)']];

data = [
    go.Parcats(
        dimensions=[type_dim, sex_dim, age_dim],
        counts=df18.rate,
        line={'color': color,
              'colorscale': 'earth'},
        hoveron='category',
        hoverinfo='count+probability',
        labelfont={'size': 18, 'family': 'Times','color':'saddlebrown'},
        tickfont={'size': 10, 'family': 'Times'},
        arrangement='freeform'
    )
]

layout=go.Layout(
        title="Admission Rate Per 1,000 Resident Population by Age and Sex",
        height=500,
        )


# Display figure
fig = go.Figure(data=data, layout =layout)

#iplot(data)

'https://plot.ly/~employmee/26/'